#img-container {
  max-width: fit-content;
  max-height: fit-content;
}
#stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px; /* Optional: space between the grid items */
  width: 80%;
  max-width: fit-content;
  max-height: 25%;
  max-width: 25%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.data-board {
  background-color: #1d2a1d;
  color: rgb(216, 29, 29);
  padding: 20px;
  display: flex;
  max-width: 75%;
  max-height: fit-content;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}
.container {
  display: flex;

  margin: 0;
  background-color: #f0f0f0;
}
